<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if latest_questions %}
        <ul>
        {% for q in latest_questions %}
{% comment %} <li><a href="/polls/{{ q.id }}/">{{ q.question_text }}</a></li> {% endcomment %}
            <li><a href="{% url 'polls:detail' q.id %}">{{ q.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available</p>
    {% endif %}
</body>
</html>